.redes_sociales {
    width: 100%;
    text-align: center;
    padding: 0 10px 0;

    a {
        display: inline-block;
        width: 50px;
        height: 50px;
        line-height: 20px;
        padding: 14px 0;
        color: #ffff;
        margin: 0 10px;
    }
}